ROSTemplateFormatVersion: '2015-09-01'
Description:
  zh-cn: 创建PAI服务，配置1个实例，使用Python推理镜像，分配4CPU与8GB内存，端口8000运行app.py。
  en: Create a PAI service, configure it with 1 instance, utilize the Python inference
    image, allocate 4 CPUs and 8 GB of memory, and run app.py on port 8000.
Resources:
  PAIService:
    Type: ALIYUN::PAI::Service
    Properties:
      ServiceConfig:
        containers:
          - image: eas-registry-vpc.cn-hangzhou.cr.aliyuncs.com/pai-eas/python-inference:3.6-ubuntu1804
            port: 8000
            script: python app.py
        metadata:
          instance: 1
          name: ros_test_pai
          cpu: 4
          memory: 8000
