ROSTemplateFormatVersion: '2015-09-01'
Description:
  zh-cn: 创建资源目录、账户，配置合规审计，确保OSS安全策略，实现多账号统一合规管理。
  en: Create resource directories and accounts, configure compliance audits, ensure
    OSS security policies, and implement unified compliance management across multiple
    accounts.
Parameters:
  FolderName:
    Type: String
    Label:
      zh-cn: 资源目录名称
      en: Resource directory folder name
    AssociationProperty: AutoCompleteInput
    AssociationPropertyMetadata:
      Length: 5
      Prefix: ros-folder-
      CharacterClasses:
        - Class: lowercase
  RDAccountName1:
    Type: String
    Label:
      zh-cn: 资源目录成员名称1
      en: Resource directory member name 1
    AssociationProperty: AutoCompleteInput
    AssociationPropertyMetadata:
      Length: 5
      Prefix: account1-
      CharacterClasses:
        - Class: lowercase
  RDAccountName2:
    Type: String
    Label:
      zh-cn: 资源目录成员名称2
      en: Resource directory member name 2
    AssociationProperty: AutoCompleteInput
    AssociationPropertyMetadata:
      Length: 5
      Prefix: account2-
      CharacterClasses:
        - Class: lowercase
Resources:
  RDFolder:
    Type: ALIYUN::ResourceManager::Folder
    Properties:
      FolderName:
        Ref: FolderName
  RDAccount1:
    Type: ALIYUN::ResourceManager::Account
    Properties:
      DeleteAccount: true
      DisplayName:
        Ref: RDAccountName1
      FolderId:
        Fn::GetAtt:
          - RDFolder
          - FolderId
  RDAccount2:
    Type: ALIYUN::ResourceManager::Account
    Properties:
      DeleteAccount: true
      DisplayName:
        Ref: RDAccountName2
      FolderId:
        Fn::GetAtt:
          - RDFolder
          - FolderId
  ConfigAggregator:
    Type: ALIYUN::Config::Aggregator
    Properties:
      AggregatorName:
        Ref: ALIYUN::StackId
      Description:
        Ref: ALIYUN::StackId
      AggregatorAccounts:
        - AccountId:
            Fn::GetAtt:
              - RDAccount1
              - AccountId
          AccountType: ResourceDirectory
          AccountName:
            Ref: RDAccountName1
        - AccountId:
            Fn::GetAtt:
              - RDAccount2
              - AccountId
          AccountType: ResourceDirectory
          AccountName:
            Ref: RDAccountName2
  ConfigAggregateCompliancePack:
    Type: ALIYUN::Config::AggregateCompliancePack
    Properties:
      AggregatorId:
        Fn::GetAtt:
          - ConfigAggregator
          - AggregatorId
      RiskLevel: 1
      Description: 基于等保三级的部分要求，对阿里云上资源的合规性做检测。
      CompliancePackName: 等保三级预检合规包
      ConfigRules:
        - ConfigRuleName: OSS存储空间ACL禁止公共读
          Description: OSS存储空间的ACL策略禁止公共读，视为“合规”。
          RiskLevel: 1
          ManagedRuleIdentifier: oss-bucket-public-read-prohibited
        - ConfigRuleName: OSS存储空间ACL禁止公共读写
          Description: OSS存储空间的ACL策略禁止公共读写，视为“合规”。
          RiskLevel: 1
          ManagedRuleIdentifier: oss-bucket-public-write-prohibited
Metadata:
  ALIYUN::ROS::Interface:
    ParameterGroups:
      - Parameters:
          - RDAccountName1
          - RDAccountName2
        Label:
          zh-cn: 资源目录配置
          en: ResourceDirectory Configuration
    TemplateTags:
      - acs:technical-solution:security-and-compliance:企业多账号配置统一合规审计-tech_solu_68
  ALIYUN::ROS::Composer:
    fe8fd441:
      Rect:
        - 324
        - 330
        - 40
        - 100
        - 1
        - 0
      ResT: Composer::ROSParameter::AlibabaCloud
    3a2ffcfb:
      Parent: fe8fd441
      Rect:
        - 281
        - 256
        - 60
        - 150
        - 2
        - 0
      ResT: Composer::ROSParameter::Region
    85c10691:
      Res:
        - RDFolder
      Parent: 3a2ffcfb
      Rect:
        - 40
        - 40
        - 182
        - 314
        - 3
        - 0
    702ac7ea:
      Res:
        - RDAccount1
      Parent: 3a2ffcfb
      Rect:
        - 40
        - 40
        - 274
        - 258
        - 3
        - 0
    06d0573b:
      Res:
        - RDAccount2
      Parent: 3a2ffcfb
      Rect:
        - 40
        - 40
        - 80
        - 258
        - 3
        - 0
    e36abc29:
      Res:
        - ConfigAggregator
      Parent: 3a2ffcfb
      Rect:
        - 40
        - 40
        - 182
        - 200
        - 3
        - 0
    1421d347:
      Res:
        - ConfigAggregateCompliancePack
      Parent: 3a2ffcfb
      Rect:
        - 40
        - 40
        - 80
        - 200
        - 3
        - 0
      Hidden: true
    2658405c:
      Parent: 3a2ffcfb
      Edge:
        - 702ac7ea
        - 85c10691
      Line: 0:0:0:gray:0
    a594c69b:
      Parent: 3a2ffcfb
      Edge:
        - 06d0573b
        - 85c10691
      Line: 0:0:0:gray:0
    5db9feb6:
      Parent: 3a2ffcfb
      Edge:
        - e36abc29
        - 702ac7ea
      Line: 0:0:0:gray:0
    bbd297ea:
      Parent: 3a2ffcfb
      Edge:
        - e36abc29
        - 06d0573b
      Line: 0:0:0:gray:0
    c34068f4:
      Parent: 3a2ffcfb
      Edge:
        - 1421d347
        - e36abc29
      Line: 0:0:0:gray:0
